@import "../../variables";

.demand__container {
    background-color: $primary-background-colour-light;

    .demand__row {
        display: grid;
        grid-template-columns: repeat(auto-fill, 100px);
    

        &--total {
            background-color: $primary-background-colour-lighter;
            border-top: solid 1px $primary-text-colour;
        }

        .demand__unit {
            color: $primary-text-colour;
            padding: $padding;
            display: flex;
            align-items: center;
            grid-column: span 1;
    
            .demand__icon {
                margin-right: $padding;
                width: 20px;
            }
            
            .demand__value {
    
            }
    
        }
    }
}