@import "../../variables";

.demand__container {
    background-color: $primary-background-colour-light;

    .demand__row {
        display: grid;
        @include media-down('xl') {
            grid-template-columns: repeat(16, 1fr);        
         }

         @include media-down('lg') {
            grid-template-columns: repeat(13, 1fr);        
         }

         @include media-down('md') {
            grid-template-columns: repeat(10, 1fr);        
         }

         @include media-down('sm') {
            grid-template-columns: repeat(8, 1fr);        
         }

         @include media-down('xs') {
            grid-template-columns: repeat(6, 1fr);        
         }

        &--total {
            background-color: $primary-background-colour-lighter;
            border-top: solid 1px $primary-text-colour;
        }

        .demand__unit {
            color: $primary-text-colour;
            padding-top: $padding;
            padding-bottom: $padding;
            display: flex;
            margin-left: $padding;
            margin-right: $padding;
            align-items: center;
            grid-column: span 1;
    
            .demand__icon {
                margin-right: $padding;
            }
            
            .demand__value {
    
            }
    
        }
    }
}