@import "../../variables";

.islandList__container {
    .islandEntry__container {
        padding: $padding;
        background-color: $primary-background-colour-light;
        color: $primary-text-colour;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover {
            color: $primary-text-colour-highlight;
        }
    }
}