@import "../../variables";

.islandList__container {
    .islandEntry__container {
        padding: $padding;
        background-color: $primary-background-colour;
        color: $primary-text-colour;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover {
            color: $primary-text-colour-highlight;
            background-color: $primary-background-colour-light;

        }

        .islandEntry__headerContent {
            width: 100%;
        }
    }
}

.islandResidents__header {
    display: flex;
    width: 100%;

    div {
        padding: $padding;
    }
}

.inhabitantEntry__body {
    padding: $padding;
    background-color: $primary-background-colour-lighter;
    color: $primary-text-colour;
    display: flex;
    div {
        padding: $padding;
    }
}