@import "../../../variables";

.textField__container {
    margin-top: 10px;
    margin-bottom: 10px;
    display:flex;
    align-items: center;
    font-weight: 600;

    &:hover {
        .inputContainer {
            border-bottom: solid 2px #ded4d5;
        }        
    }

    &--focused {
        .inputContainer {
            border-bottom: solid 2px #949393;
        }
    }

    .label {
        padding: $padding;
        flex: 1 1 0;
        cursor: pointer;
    }

    .inputContainer {
        flex: 1 1 0;
        box-sizing: border-box;
        border-bottom: solid 1px #a59797;
        cursor: pointer;
        padding: $padding;
        padding-bottom: 5px;
        margin-left: 10px;
        margin-right: 10px;

        .textField {
            background: none;
            border:none;
            font-family: $primary-font-family;
            font-size: $font-sise-normal;
    
            &:focus {
                outline: none;
            }
        }
    }
}