@import "../../../variables";

.input__container {

    .input__value--button {
        padding: $padding;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

        .button__icon--left {
            margin-right: $padding;
        }

        .button__icon--right {
            margin-left: $padding;
        }
    }

    &--default {
        .input__value--button {
            background-color: $background-colour;
            color: $text-colour;

            &:hover {
                background-color: $background-colour-light;
                color: $text-colour-highlight;
            }
        }
    }

    &--primary {
        .input__value--button {
            background-color: $primary-background-colour;
            color: $primary-text-colour;

            &:hover {
                background-color: $primary-background-colour-light;
                color: $primary-text-colour-highlight;
            }
        }
    }
}