@import "../../../variables.scss";


.selectBox__container {
    position: relative;
    cursor: pointer;
   

    .control__container {
        display:flex;
        align-items: center;    
    }

    .value__container {
        flex: 1 1 0;
        padding: 10px; 
        box-sizing: border-box;
        border-bottom: 1px solid;
        &:hover {
            font-weight: 600;
            border-bottom: 1px solid yellow;
        }

        display: flex;
        align-items: center;
        justify-content: space-between
    }

    .selectBox__label {
        flex: 1 1 0;
        font-weight: 600;
        padding: 10px;
    }

    .options__container {
        position: fixed;
        display: flex;
        flex-direction: row;
        width: 100%;
        box-sizing: border-box;

        .filler {
            flex: 1 1 0;
        }

        .options {
            flex: 1 1 0;
            .option {
                padding: 10px;
                background-color: $header-background-colour-highlight;
                box-sizing: border-box;

                &:hover {
                    background-color: #636060;
                    font-weight: 600;
                }
            }
        }
    }
}