@import "../../../variables";

.iconButton__container {    
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .input__value {
        border-bottom: none !important;
    }
}

.input__container.iconButton__container.input__container--default {
        background-color: $background-colour;

        &:hover {
            background-color: $background-colour-light;
        }
}

.input__container.iconButton__container.input__container--primary {
        background-color: $primary-background-colour;

        &:hover {
            background-color: $primary-background-colour-light;
        }
}