$header-background-colour: #19181e;
$header-background-colour-highlight: #4d4848;
$header-background-colour-highlight-highlight: #656262;
$header-text-colour: #fcf0b4;


$primary-background-color: #e9e3e3;
$primary-font-family: 'Karla', sans-serif;
$font-size-large: 1.2em;
$font-sise-normal: 1em;
$font-size-small: 0.8em;

$padding: 0.5em;

